[submodule "kirby"]
	path = kirby
	url = https://github.com/getkirby/kirby
[submodule "panel"]
	path = panel
	url = https://github.com/getkirby/panel
[submodule "site/plugins/autogit"]
	path = site/plugins/autogit
	url = https://github.com/pedroborges/kirby-autogit.git
